<h2>User Profile</h2>

<%= render 'shared/user_row', user: @user%>

<div class='bio-container'>
  <h3>Bio</h3>
  <p> <%= @user.bio %> </p>
</div>

<div class='posts-list'>
  <% @posts.each do |post| %>
    <div class='post-container' id='<%= dom_id post %>'>
      <h3> <%= post.title%> </h3>
      <h4>Post #<%= post.id %> </h4>
      <p> <%= post.text %> </p>
      <%= link_to "See post details", user_post_path(@user_id, post) %>
    </div>
  <% end %>
</div>

<div class='route-links'>
  <%= link_to "See all users", users_path %>
  <%= link_to "See all posts", user_posts_path(@user) %>
</div>
