<h2>User Profile</h2>

<%= render 'shared/user_row', user: @user%>

<div class='bio-container'>
  <h3>Bio</h3>
  <p> <%= @user.bio %> </p>
</div>

<div class='posts-list'>
  <% for posts in 1..3 do %>
    <div class='post-container'>
      <h4>Post #<%= posts %> </h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus ab eius laboriosam voluptates vel impedit, placeat quas quam dolores illum omnis 
      assumenda optio, nemo, iure laudantium corrupti aut blanditiis velit?</p>
      <%= link_to "See post details", user_post_path(@user, posts) %>
    </div>
  <% end %>
</div>

<div class='route-links'>
  <%= link_to "See all users", users_path %>
  <%= link_to "See all posts", user_posts_path(@user) %>
</div>
