<h2>User Profile</h2>

<%= render 'shared/user_row', user: @user%>

<div class='bio-container'>
  <h3>Bio</h3>
  <p> <%= @user.bio %> </p>
</div>

<div class='posts-list'>
  <% @posts.each do |post| %>
    <%= render 'shared/post_card', post: post %>
  <% end %>
</div>

<div class='route-links'>
  <%= link_to "See all users", users_path %>
  <%= link_to "See all posts", user_posts_path(@user) %>
</div>
