<div class='user-row' id='<%= dom_id user %>'>
  <div class='avatar-container'>
    <img class='avatar' src='<%= user.photo || 'https://picsum.photos/100' %>' alt='User Avatar'>
  </div>
  <%= link_to user do %>
    <div class='user-card'>
      <h2 class='user-name'>Hi <%= user.name || 'User' %></h2>
      <p class='posts-counter'>Number of posts: <%= print_count(user.posts_counter) %> </p>
    </div>
  <% end %>
</div>