<%= render 'shared/user_row', user: @author%>

<div class='posts-list'>
  <% @author.posts.each do |post| %>
  <div class='post-summary-container'>
    <%= render 'shared/post_card', post: post %> 
    <div class='comments-container'>
      <h3>Comments</h3>
      <% post.recent_comments.each do |comment| %>
        <p class='comment-preview'> 
          <strong><%= comment.author.name %>:</strong> 
          <%= comment.text %>
          <em><%= comment.created_at %></em>
        </p>
      <% end %>
      <%= comments?(post) %>
    </div>
  </div>
  <% end %>
  <%= posts?(@author)%>
</div>

<div class='route-links'>
  <%= link_to "See user's profile", user_path(@author) %>
</div>
