<div class='post-details-section container'>
  <div class='post-container'>
    <div class='post-details'>
      <h3>Post #<%= @post_id %> by <%= @post.author.name %> </h3>
      <h4>Title: <%= @post.title %></h4>
      <p>Text: <%= @post.text %></p>

      <% if can? :destroy, @post %>
        <div class="mb-2">
          <%= button_to "Delete Post", user_post_path(@post.author_id, @post), method: :delete, class: 'btn btn-outline-danger'%>
        </div>
      <% end %>
    </div>
    <div class='counter-container'>
      <p class='comments counter'>Comments: <%= print_count(@post.comments_counter) %></p>
      <p class='likes counter'>Likes: <%= print_count(@post.likes_counter) %> </p>
    </div>
    <div class='social-interactions-container'>
      <%= form_with model: @like, url: user_post_likes_path(@post.author, @post), method: :post, local: false, scope: :like, html: { class: 'like-form-new' } do |form| %>
        <%= form.submit "Like" %>
      <% end %>
      <%= link_to 'Comment', new_user_post_comment_path(@post.author, @post), class: 'button' %>
    </div>
  </div>
  <div class='comments-container'>
    <% @post.comments.each do |comment| %>
        <p class='comment-preview '> 
          <strong><%= comment.author.name %>:</strong> 
          <%= comment.text %>
          <em><%= comment.created_at %></em>
        </p>
      <% if can? :destroy, comment %>
        <%= button_to "Delete Comment", user_post_comment_path(comment.post.author_id, comment.post_id, comment.id), 
            class:"btn btn-outline-danger float-right m-2 mr-5", 
            method: :delete 
        %>
      <% end %>
        <hr class="w-100">
      <% end %>
      <%= comments?(@post) %>
  </div>
</div>

<div class='route-links'>
  <%= link_to "See all posts", user_posts_path(@post.author) %>
</div>
