<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: "#{name} generic-alert" %>
<% end -%>

<div class='post-details-section'>
  <div class='post-container'>
    <div class='post-details'>
      <h3>Post #<%= @post_id %> by <%= @post.author.name %> </h3>
      <h4>Title: <%= @post.title %></h4>
      <p>Text: <%= @post.text %></p>
    </div>
    <div class='counter-container'>
      <p class='comments counter'>Comments: <%= print_count(@post.comments_counter) %></p>
      <p class='likes counter'>Likes: <%= print_count(@post.likes_counter) %> </p>
    </div>
    <div class='social-interactions-container'>
      <%= form_with model: @like, url: user_post_likes_path(@post.author, @post), method: :post, local: false, scope: :like, html: { class: 'like-form-new' } do |form| %>
        <%= form.submit "Like" %>
      <% end %>
      <%= link_to 'Comment', new_user_post_comment_path(@post.author, @post), class: 'button' %>
    </div>
  </div>
  <div class='comments-container'>
    <% @post.comments.each do |comment| %>
        <p class='comment-preview'> 
          <strong><%= comment.author.name %>:</strong> 
          <%= comment.text %>
          <em><%= comment.created_at %></em>
        </p>
      <% end %>
      <%= comments?(@post) %>
  </div>
</div>

<div class='route-links'>
  <%= link_to "See all posts", user_posts_path(@post.author) %>
</div>
