<h2>Post Details</h2>

<div class='post-details-section'>
  <div class='post-container'>
    <div class='post-details'>
      <h3>Post #<%= @post_id %> by <%= @user.name %> </h3>
      <h4>Title: <%= @post.title %></h4>
      <p>Text: <%= @post.text %></p>
    </div>
    <div class='counter-container'>
      <p class='comments counter'>Comments: <%= @post.print_count(@post.comments_counter) %></p>
      <p class='likes counter'>Likes: <%= @post.print_count(@post.likes_counter) %> </p>
    </div>
  </div>
  <div class='comments-container'>
    <% @post.comments.each do |comment| %>
        <p class='comment-preview'> 
          <strong><%= comment.author.name %>:</strong> 
          <%= comment.text %>
          <em><%= comment.created_at %></em>
        </p>
      <% end %>
      <% if @post.comments_counter.nil? %> <p>This post has no comments</p> <% end %>
  </div>
</div>

<div class='route-links'>
  <%= link_to "Go back", :back %>
</div>
