<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp - Users</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "blog_style", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <span class="navbar-brand">Navbar</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active mx-4">
          <%= link_to "Home", root_path %>
        </li>
        <li class="nav-item mx-4">
          <%= link_to "Create Post", new_user_post_path(current_user)%>
        </li>
        <li class="nav-item mx-4">
          <%= button_to "Log Out", destroy_user_session_path, method: :delete  %>
        </li>
      </ul>
    </div>
  </nav>
  <h1><%= @page_title %></h1>
  <hr>
  <% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: "#{name} generic-alert" %>
  <% end -%>
    <%= yield %>
  </body>
</html>
